/* You can add global styles to this file, and also import other style files */
:root{
    color-scheme: light dark;
}
body{
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* espacio entre texto e imagen */
  padding: 2rem;
}

.header-content {
  text-align: left;
}
